<a href="https://colab.research.google.com/github/Divya-95/lts-upgrd-assgnmnt2/blob/master/lts_upgrd_assgnmnt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List and its default functions
List = ['apple', 'orange', 1888, 2020] 
# Insert at index 2 value 10087 
 
List.insert(3,'abc')      
 
List

['apple', 'orange', 1888, 'abc', 2020]

In [ ]:

List = ['apple', 'orange', 1888, 2020] 
 
List.append(856744) 
 
List

['apple', 'orange', 1888, 2020, 856744]

In [ ]:
 
List1 = [1, 2, 3] 
 
List2 = [2, 3, 4, 5] 
 
  
# Add List2 to List1 
List1.extend(List2)         
 
(List1) 
 
  
# Add List1 to List2 now 
List2.extend(List1)  
 
(List2)

[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

In [ ]:
 
List = [63, 85, 35, 47, 79] 
 
sum(List)

309

In [ ]:
 
List = [41, 27, 34, 41, 52, 41, 29, 93, 62, 41] 
 
List.count(41)

4

In [ ]:
#Dictionary and its default functions

In [ ]:
 # random sales dictionary
sales = { 'apple': 100, 'orange': 50, 'grapes': 60 }
 
sales.values()

dict_values([100, 50, 60])

In [1]:
 # random sales dictionary 
 sales = { 'apple': 100, 'orange': 50, 'grapes': 60 }
 
element = sales.pop('orange')
print('The popped element is:', element)
print('The dictionary is:', sales)

The popped element is: 50
The dictionary is: {'apple': 100, 'grapes': 60}

In [ ]:
 person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}
person.keys()

dict_keys(['name', 'age', 'salary'])

In [ ]:
 person = {'name': 'abc', 'age': 22}
 
person.get('name')

'abc'

In [ ]:
 # random sales dictionary
sales = { 'apple': 100, 'orange': 50, 'grapes': 60 }
 
sales.items()

dict_items([('apple', 100), ('orange', 50), ('grapes', 60)])

In [ ]:
#sets & its default functions
# set of vowels
vowels = {'a', 'e', 'i', 'u'}
 
# adding 'o'
vowels.add('o')
vowels

{'a', 'e', 'i', 'o', 'u'}

In [ ]:
 A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}
 
print(B.intersection(A))

{2, 5}

In [ ]:
 A = {1, 2, 3, 4}
B = {5, 6, 7}
C = {4, 5, 6}
A.isdisjoint(B)

True

In [ ]:
 A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}
 
# Returns True
A.issubset(B)

True

In [ ]:
 A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}
A.union(B)

{2, 'a', 'c', 'd'}

In [ ]:
#Tuple & default methods
# vowels tuple
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
 
# count element 'i'
count=vowels.count('i')
 
#print count
print('The count of i is:', count)
 
# count element 'p'
count = vowels.count('p')
 
# print count
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

In [ ]:
 # vowels tuple
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
 
# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)
 
# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')
 
print('The index of i:', index)

The index of e: 1
The index of i: 2

In [ ]:
#string & default methods
string = "PYTHON IS AWESOME"
 
# print lowercase string
print("Lowercase string:", string.casefold())

Lowercase string: python is awesome

In [ ]:
 # define string
string = "Python is awesome, isn't it?"
substring = "is"
 
count = string.count(substring)
 
# print count
print("The count is:", count)

The count is: 2

In [ ]:
 str = 'xyz\t12345\tabc'
 
# no argument is passed
# default tabsize is 8
result = str.expandtabs()
 
print(result)

xyz     12345   abc

In [ ]:
 # example string
string = "THIS SHOULD BE LOWERCASE!"
print(string.lower())
 
# string with numbers
# all alphabets whould be lowercase
string = "Th!s Sh0uLd B3 L0w3rCas3!"
print(string.lower())

this should be lowercase!
th!s sh0uld b3 l0w3rcas3!

In [ ]:
 text= ' Hii Hello !!'
 
# splits at space
print(text.split())

['Hii', 'Hello', '!!']